.navbar{
    position: fixed;
    top: 0px;
    width: 100vw;
    padding: 10px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    z-index: 1;
    height: 60px;
}
.navbar_black{
    background-color: black;
}
.navbar_content{
    display: flex;
    justify-content: space-between;
}
.navbar_logo{
    position: fixed;
    cursor: pointer;
    left: 0px;
    top: 0px;
    height: 80px;
    width: 180px;
    object-fit: contain;
}
.navbar_avatar{
    position: fixed;
    height: 40px;
    top: 20px;
    width: 40px;
    right: 10px;
    cursor: pointer;
}